<html lang="pt-BR">

<body>
  <h1>Variação de Crypto Moedas - Últimas 24 Horas</h1>

  <!-- Adicione uma lista suspensa para permitir a escolha da criptomoeda -->
  <label for="cryptoSelect" style="margin-right: 10px;">Criptomoeda:</label>
  <select [(ngModel)]="selectedCrypto" (change)="onCryptoChange()" style="margin-right: 30px;">
    <option *ngFor="let crypto of availableCryptos" [value]="crypto">{{ crypto }}</option>
  </select>

  <label for="percentual" style="margin-right: 10px;">Percentual de Variação:</label>
  <input type="number" id="percentual" [(ngModel)]="percentualVariacao" style="margin-right: 10px;"
    (change)="onPercentualChange()" style="margin-right: 20px;">

  <app-bubble-chart [selectedCrypto]="selectedCrypto"></app-bubble-chart>
</body>

</html>