body {
  text-align: center;
  /* Centraliza o texto horizontalmente */
  margin-top: 50px;
  /* Adiciona um espaço superior para melhorar a aparência */
}

h1 {
  color: #333;
  /* Define a cor do texto, se necessário */
}